body{

    background-color: #F0F;
    
}

h1{
    text-align: center;
    color :#0F0;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}

h2{
text-align: center;
    color: #0F0;
    font-style:italic;

}

